body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.thumbnail {
  width: 200px;
  height: 100%;
  margin: 10px;
  background:#9cc;
  text-align: center;
}

.thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 10px;
}

.caption {
  margin-top: 5px;
  font-size: 14px;
  padding-bottom: 10px;
}