<!DOCTYPE html>
<html>
  <head>
    <title>Thumbnail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1>検索</h1> -->
    <form action="/shop/search" method="GET">
    <table>
      <tr>
        <label>カテゴリー  </label>
        <input type="text" id="q" name="q" placeholder="カテゴリーを入力">
      </tr>
      <br>
      <tr>
        <label>時間     </label>
        <input type="date" id="date" name="date">
        <input type="time" id="time" name="time">
        ～
        <input type="date" id="date2" name="date2">
        <input type="time" id="time2" name="time2">
      </tr>
    </table>
      <br>
      <input type="submit" value="検索">
    </form>

    <br>

    <% for (let i in results){ %>
        <a href="/detail/<%= results[i].id %>">
            <img class="img", src="/images/thumbnails/<%= results[i].label %>/<%= results[i].last_time %>.png" alt="Thumbnail">
        </a>
    <% }; %>
  </body>
</html>