<!DOCTYPE html>
<html>
  <head>
    <title>Thumbnail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1>検索</h1> -->
    <form method="POST">
    <table>
      <tr>
        <label>カテゴリー  </label>
        <select id="label" name="label">
          <option value="" hidden>選択してください</option>
          <option value="25">umbrella</option>
          <option value="26">handbag</option>
          <option value="28">suitcase</option>
          <option value="39">bottle</option>
          <option value="41">cup</option>
          <option value="64">mouse</option>
          <option value="65">remote</option>
          <option value="67">cell phone</option>
          <option value="73">book</option>
          <option value="74">clock</option>
          <option value="76">scissors</option>
        </select>
      </tr>
      <br>
      <tr>
        <label>時間     </label>
        <input type="date" id="date" name="date">
        <input type="time" id="time" name="time">
        ～
        <input type="date" id="date2" name="date2">
        <input type="time" id="time2" name="time2">
      </tr>
    </table>
      <br>
      <button type="submit">検索</button>
    </form>

    <br>

    <div class="parent">
      <% for (let i in results){ %>

        <div class="border">
          <div class="box">
            <p>label: <%= results[i].label %></p>
          </div>
          <a href="/images/<%= results[i].id %>">
            <img class="img" src="/images/thumbnails/<%= results[i].label %>/<%= results[i].last_time %>.png" alt="Thumbnail">
          </a>
        </div>
      <% }; %>
    </div>
      
      
  </body>
</html>